/* Обнуление и box sizing */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

textarea:focus,
input:focus {
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

::placeholder {
  text-align: center;
}

/* Убираем внутренние отступы */
ul[class],
ol[class],
li[class] {
  padding: 0;
}

/* Убираем внешние отступы */
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-decoration: non;
}

/* Удаляем стандартную стилизацию для всех ul ol li */
ul,
ol,
li,
ul[class],
ol[class],
li[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты  */
input,
button,
textarea,
select {
  font: inherit;
}

/* open-sans-regular - cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  src: url('../fonts/open-sans-v34-cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/open-sans-v34-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v34-cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v34-cyrillic-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v34-cyrillic-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v34-cyrillic-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

body {
  font-family: "Open Sans";
}



h1,
.input,
.m,
button,
.s,
li {
  /* font-family: Open Sans;  */
  font-size: 14px;
  font-weight: 400;
  /* line-height: 22px; */
}

header {}

.header {
  display: flex;
  max-width: 1920px;
  padding-left: calc(5px + (352 - 5) * ((100vw - 1300px) / (1920 - 1300)));
  padding-right: calc(5px + (352 - 5) * ((100vw - 1300px) / (1920 - 1300)));
  /* padding: 0 352px 0; */
  /* max-width: min(calc(992px + (1280 - 992) * ((100vw - 1280px) / (1280 - 992))), 1280px); */
  /* max-width: min(calc(900px + (1300 - 900) * ((100vw - 1300px) / (1300 - 900))), 1300px); */
  justify-content: center;
  margin: 34px auto 40px;
  align-items: center;
}

.logo-pic {
  /* width: 88px; */
  margin-right: 16px;

  cursor: pointer;
}

.area-button {
  display: flex;
  
}

/* .list {
  display: flex;
  align-items: center;
} */

.city-pic {
  margin-right: 6px;
}

/* .list:hover .city-pic {
  background: #d8d8d8;
  border-radius: 40px;
} */

p.m {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  cursor: pointer;
  margin-right: calc(15px + (61 - 15) * (100vw - 1216px) / ((1920 - 1216)));
}

.search {
  position: relative;
  display: flex;
  margin-right: calc(50px + (183 - 50) * ((100vw - 1216px) / (1920 - 1216)));
}

.input:focus {
  background: white;
  border: 2px solid #5556b2;
}

.input {
  width: calc(510px + (596 - 510) * ((100vw - 1216px) / (1920 - 1216)));
  height: 48px;
  background: #F1F1F1;
  align-items: center;
  padding: 0 0px 0 40px;
  border-radius: 100px;
}

.union {
  position: absolute;
  top: 35%;
  padding-left: 2%;
}

.like {
  display: flex;
  align-items: center;
}

.name {

  display: flex;
  align-items: center;
  margin-left: calc(15px + (40 - 15) * (100vw - 1216px) / ((1920 - 1216)));
}

.heart {
  margin-right: 11px;
}

.avatar {
  margin-left: 7px;
}

.nav {
  display: flex;
  max-width: 1920px;
  padding-left: calc(5px + (352 - 5) * ((100vw - 1216px) / (1920 - 1216)));
  padding-right: calc(5px + (352 - 5) * ((100vw - 1216px) / (1920 - 1216)));
  /* padding: 0 352px 0; */
  /* max-width: min(calc(992px + (1280 - 992) * ((100vw - 1280px) / (1280 - 992))), 1280px); */
  /* max-width: min(calc(900px + (1300 - 900) * ((100vw - 1300px) / (1300 - 900))), 1300px); */
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.vector {
  z-index: 1;
}

.b {
  display: flex;
  background: linear-gradient(90deg, #222222 39.69%, rgba(34, 34, 34, 0) 82.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.s {
  width: 380px;
  height: 40px;
  padding: 0 20px;
  margin: 0 20px 0;
  vertical-align: middle;
  border-radius: 100px;
  border: 2px solid #5556b2;
}

.sublist {
  width: 420px;
  padding-top: 20px;
  display: none;
  position: absolute;
  top: 16%;
  left: 25%;
  background: #f5efef;
  border-radius: 16px;
  
}

.container {
  display: none;
}

.city1 {
  min-width: 150px;
  padding-bottom: 5px;
}

.area-list:active .city1 {
  background: red;
}

.input2 {
  position: relative;
  height: 30px;
  font-size: 14px;
  border: 2px solid;
  border-radius: 100px;
  text-align: center;
  color: blue;
}

.btn {
  position: absolute;
  top: 12%;
  left: 90%;
}

.btn1 {
  position: absolute;
  top: 20%;
  left: 77%;
  z-index: 1;
  border-radius: 100px;
}

.area-list {
  padding-left: 10px;
  width: 420px;
}

.select {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60px;
  padding: 10px;
  position: relative;
}

.o {
  padding: 1%;
  vertical-align: middle;
}

.select-city {
  position: relative;
  display: none;
  /* width: 100%; */
  margin-right: 1%;
  vertical-align: middle;
  background: #5556b2;
  background-size: cover;
  border-radius: 100px;
}

/* button {
  padding: 16px 16px 16px 16px;
  border-radius: 100px;
  cursor: pointer;
} */

.ul {
  display: flex;
  align-items: center;
}

.ul :not(:last-child) {
  /* margin-right: 50px; */
  margin-right: calc(15px + (50 - 15) * ((100vw - 1216px) / (1920 - 1216)));
}




@media (max-width: 1216px) {

  /* .area-button, */
  /* .input, */
  /* .union, */
  button,
  /* .like, */
  .name,
  #burger,
  .nav {
    display: none;
  }

  .header {
    margin: 18px auto 0;
    align-items: center;
    /* margin-left: calc(120px + (500 - 120) * ((100vw - 360px) / (1216 - 360))); */

  }

  /* .logo {
    display: block;
    width: 340px;
    padding: 0;
    margin-left: 230px;
    z-index: 1;
  } */

  .logo1 {
    /* width: 88px; */
  }

  .menu {
    margin-right: calc(20px + (50 - 20) * ((100vw - 900px) / (1216 - 900)));
  }

  .search {
    margin: 0;
  }

  .logo-pic {
    margin-right: 16px;
  }

  .like {

    /* margin-left: calc(200px + (500 - 200) * ((100vw - 360px) / (1216 - 360))); */


    margin-left: calc(25px + (250 - 25) * ((100vw - 900px) / (1216 - 900)));
  }

  .sublist {
    top: 80%;
    width: 340px;
  }

  .input1 {
    width: 340px;
  }

  .select {
    padding: 30px;
  }

  #burger:checked+label+div {
    display: block;
  }
}

@media (max-width: 900px) {

  .area-button,
  .input,
  .union,
  button,
  .name,
  #burger,
  .nav {
    display: none;
  }


  .header {
    padding: 0 50px 0;
    display: flex;
    /* margin: 18px auto 0; */
    align-items: center;
    /* margin-left: 1px; */
    /* margin-left: calc(120px + (500 - 120) * ((100vw - 360px) / (1216 - 360))); */

  }

  .container {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: calc(12px + (40 - 12) * ((100vw - 360px) / (1216 - 360)));
    top: 20px
  }

   .logo-pic {
    /* margin-left: 360px; */
    margin-left:calc(110px + (360 - 110) * ((100vw - 360px) / (900 - 360))) ;
  }

  .like {
    /* margin-left: 400px; */
    margin-left:calc(180px + (400 - 180) *((100vw - 360px) / (900 - 360))) ;
  }

 

}